:root {
  --main-color: #FF0000;
}

.rotating-image path {
  fill: #FF0000;
}

.trail {
  position: absolute;
  height: 24px; width: 24px;
  border-radius: 24px;
  background-color: #F87700;
  z-index: 12;
}

