:root {
  --main-color: blue;
}

#smiley {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  filter: invert(7%) sepia(100%) saturate(7443%) hue-rotate(247deg) brightness(110%) contrast(135%);
}

.trail {
  position: absolute;
  height: 24px; width: 24px;
  border-radius: 24px;
  background-color: green;
  z-index: 12;
}