:root {
  --main-color: green;
}

.rotating-image path {
  fill: green;
}

.trail {
  position: absolute;
  height: 24px; width: 24px;
  border-radius: 24px;
  background-color: black;
  z-index: 12;
}

