:root {
  --main-color: #E4BC00;
}

.rotating-image path {
  fill: #E4BC00;
}

.trail {
  position: absolute;
  height: 24px; width: 24px;
  border-radius: 24px;
  background-color: #00A400;
  z-index: 12;
}

