:root {
  --main-color: #00A400;
}

.rotating-image path {
  fill: #00A400;
}
  
  .trail {
    position: absolute;
    height: 24px; width: 24px;
    border-radius: 24px;
    background-color: #0000FF;
    z-index: 12;
  }