:root {
    --main-color: blue;
}
  
.rotating-image path {
    fill: blue;
  }
  
  .trail {
    position: absolute;
    height: 24px; width: 24px;
    border-radius: 24px;
    background-color: purple;
    z-index: 12;
  }