:root {
    --main-color: purple;
}
  
  #smiley {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    filter: brightness(0) saturate(100%) invert(16%) sepia(41%) saturate(5807%) hue-rotate(287deg) brightness(87%) contrast(120%);
  }
  
  .trail {
    position: absolute;
    height: 24px; width: 24px;
    border-radius: 24px;
    background-color: red;
    z-index: 12;
  }