:root {
    --main-color: purple;
}
  
  #smiley {
    filter: brightness(0) saturate(100%) invert(16%) sepia(41%) saturate(5807%) hue-rotate(287deg) brightness(87%) contrast(120%);
  }
  
  .trail {
    background-color: red;
  }