:root {
    --main-color: #9C00EE;
  }
  
  .rotating-image path {
    fill: #9C00EE;
  }
  
  .trail {
    position: absolute;
    height: 24px; width: 24px;
    border-radius: 24px;
    background-color: black;
    z-index: 12;
  }
  
  