body, html {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  -webkit-touch-callout: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 45px 0 45px 0;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid #F1F4F8;
    z-index: 11;
  }

.outline {
    border: 2px solid var(--main-color);
    border-radius: 48px;
    color: var(--main-color);
    background-color: white;
    font-size: 32px;
    line-height: 1;
    padding: 16px 24px;
    cursor: pointer;
    display: block;

    &:active {
      transition: 0.2s;
      color: white;
    }
}

@media (hover:hover) {
  .outline:hover {
    background-color:var(--main-color);
    transition: 0.2s;
    color: white;
    border: 2px solid var(--main-color);
  }
}

.content-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  cursor: pointer;
  width: 210px;
  height: 210px;
  position: absolute;
  z-index: 10;
  display: block;
}

.rotating-image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: transform 1s;
}

.ticker-wrap {
    max-width: 100%;
    overflow: hidden;
    position: fixed;
    bottom:0;
    border-top: 2px solid #F1F4F8;
    background-color: white;
    z-index: 11;
  }
  
  .ticker {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float:left;
    animation: marquee 20s linear infinite;
  }
  
  .ticker p {
    display: inline-block;
    font-size: 56px;
    line-height: 1;
    padding-left: 16px;
    margin: 52px 0;
    color: var(--main-color);
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

@media screen and (max-width: 700px) {
  .trail {display: none;}
  }

@media screen and (max-width: 500px) {
  .outline {
    font-size: 24px;
    line-height: 1;
  }
  
  .button-wrap {
    padding: 24px 0 24px 0;
  }

  .ticker p {
    font-size: 32px;
    margin: 40px 0;

  }

  .spin {
    width: 140px;
    height: 140px;
  }

  #smiley {
    width: 140px;
    height: 140px;
    -webkit-user-select: none;
    user-select: none;
  }

  .content{
    width: 300px;
    height: 300px;
  }
}