@font-face {
  font-family: "LabilGrotesk-Bold";
  src: url(LabilGrotesk-Bold.woff);
}

html,body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-smooth: always;
}

h1 {
  font-family: "LabilGrotesk-Bold";
  font-feature-settings: "ss01";
  margin: 0;
}

a:link {
  text-decoration: none;
  color: #0000FF;
}

a:hover {
  text-decoration: underline;
  color: #0000C7;
}

a:visited {
  color: #0000FF;
}

button:hover {
  background-color: #0000C7;
}

@media only screen and (min-width: 718px) {

  .top {
    display: block;
    margin: 64px 64px 32px 64px;
    transition: margin .125s linear;
    -o-transition: margin .125s linear;
    -moz-transition: margin .125s linear;
    -webkit-transition: margin .125s linear;
  }

  h1 {
    margin: 0;
    font-size: 112px;
    transition: font-size .125s linear;
    -o-transition: font-size .125s linear;
    -moz-transition: font-size .125s linear;
    -webkit-transition: font-size .125s linear;
  }

  .container {
    display: block;
    margin: 0 64px;
    max-width: 1060px;
    transition: margin .125s linear;
    -o-transition: margin .125s linear;
    -moz-transition: margin .125s linear;
    -webkit-transition: margin .125s linear;
  }

  button {
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: #0000FF;
    border: none;
    border-radius: 50px;
    margin: 72px 0 72px 0;
    color: white;
    padding: 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-family: "LabilGrotesk-Bold";
    font-feature-settings: "ss01";
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 717px) {

  .top {
    margin: 32px 32px 24px 32px;
    display: block;
    transition: margin .125s linear;
    -o-transition: margin .125s linear;
    -moz-transition: margin .125s linear;
    -webkit-transition: margin .125s linear;
  }

  h1 {
    display: block;
    font-size: 56px;
    line-height: 1.2;
    transition: font-size .125s linear;
    -o-transition: font-size .125s linear;
    -moz-transition: font-size .125s linear;
    -webkit-transition: font-size .125s linear;
  }

  .container {
    margin: 0 32px;
    max-width: 100%;
    transition: margin .125s linear;
    -o-transition: margin .125s linear;
    -moz-transition: margin .125s linear;
    -webkit-transition: margin .125s linear;
  }

    button {
      cursor: pointer;
      transition-duration: 0.4s;
      background-color: #0000FF;
      border: none;
      border-radius: 50px;
      margin: 48px 0 48px 0;
      color: white;
      padding: 16px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 18px;
      font-family: "LabilGrotesk-Bold";
      font-feature-settings: "ss01";
      text-transform: uppercase;
    }
  }
}
